{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Relação de Inscritos</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Nível</th>
                <th>Série</th>
                <th>Idade</th>
                <th>Unidade</th>
                <th>Responsável</th>
                <th>Telefone</th>
            </tr>
        </thead>
        <tbody>
            {% for inscrito in inscritos %}
            <tr>
                <td>{{ inscrito.nome }}</td>
                <td>{{ inscrito.nivel }}</td>
                <td>{{ inscrito.serie }}</td>
                <td>{{ inscrito.idade }}</td>
                <td>{{ inscrito.unidade }}</td>
                <td>{{ inscrito.responsavel }}</td>
                <td>{{ inscrito.telefone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Navegação da Paginação -->
    <div class="pagination">
        <span class="step-links">
            {% if inscritos.has_previous %}
                <a href="?page=1">Primeira</a>
                <a href="?page={{ inscritos.previous_page_number }}">Anterior</a>
            {% endif %}

            <span>Página {{ inscritos.number }} de {{ inscritos.paginator.num_pages }}</span>

            {% if inscritos.has_next %}
                <a href="?page={{ inscritos.next_page_number }}">Próxima</a>
                <a href="?page={{ inscritos.paginator.num_pages }}">Última</a>
            {% endif %}
        </span>
    </div>

    <!-- Botão para exportar -->
    <a href="{% url 'exportar_inscritos_excel' %}" class="btn btn-success mt-3">Baixar Inscritos em Excel</a>
</div>
{% endblock %}
